<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--meta http-equiv="Cache-control" content="public"-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GNS TTC SERVERS SITE STATUS</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url("mystyle.css") }}"/> 
  <link ref="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
  <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>

<script>
   
</script> 
<!--script type="text/javascript" src="{{ static_url("script1.js") }}"></script-->
<!--*************************************************************-->

<!--*************************************************************-->
<body>
<!--include intelsat log here  -->
<img class="logo" src="{{ static_url("intelsatlogo_square.png") }}" alt="logo">

<br>
<h1>GNS TTC SERVERS SITE STATUS</h1>

<table id="myTable" class="styled-table table-borderless table-striped table-earning">
  <thead>
    <tr>
      <td>Devices</td>
      <td>Status</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody id="testBody"></tbody>
</table>
<!--script type="text/javascript" src="{{ static_url("script3.js") }}"></script-->



<script>
    String.prototype.unescapeHtml = function () {
        var temp = document.createElement("div");
        temp.innerHTML = this;
        var result = temp.childNodes[0].nodeValue;
        temp.removeChild(temp.firstChild);
        return result;
    }

    var text = '{{devicestatusDict}}';
    var res = JSON.parse(text.unescapeHtml());
    //subnetDict obj
    let actdeviceobjlist = [];
    let actdevicevaluelist = [];
    Object.entries(res).forEach((entry) => {
        const [key, value] = entry;
        console.log(`${key}: ${value}`);
        actdeviceobjlist.push(key);
        actdevicevaluelist.push(value);
    });

    var text2 = '{{devicestatusDict2}}';
    var res2 = JSON.parse(text2.unescapeHtml());
    //subnetDict obj
    let actdeviceobjlist2 = [];
    let actdevicevaluelist2 = [];
    Object.entries(res2).forEach((entry) => {
        const [key2, value2] = entry;
        console.log(`${key2}: ${value2}`);
        actdeviceobjlist2.push(key2);
        actdevicevaluelist2.push(value2);
    });


  const items0 = [];
  //const tempkey = ['key0', 'key1', 'key2'];
  //const tempval = ['Activated', 'Activated', 'Activated'];
  
  idx = 0;
  while (idx<actdeviceobjlist.length){
      items0.push({device:actdevicevaluelist[idx], stat:actdevicevaluelist2[idx], act:'testact'});
      idx=idx+1;
  };
  
  function loadTableData(items) {
    const table = document.getElementById("testBody");
    items.forEach( item => {
      let row = table.insertRow();
      let device = row.insertCell(0);
      device.innerHTML = item.device;
      let stat = row.insertCell(1);
      stat.innerHTML = item.stat;
      let act = row.insertCell(2);
      act.innerHTML = item.act;
    });
  }
  loadTableData(items0);
  //loadTableData([]);
</script>

<button onClick="history_back()" class="optbtn">Go back</button>
    <script>
        function history_back() {
            window.history.back();
        } 
    </script>



</body>
</html>
