@charset "UTF-8";
h1 {
    text-align: center;
    top: 100px;
}
h2 {
    text-align: center;
    margin-right: 32px;    
    top: 350px;
}
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
div {
    text-align: center;
    font-size: 100%;
}
input {
    font-size: 100%;
    text-align: center;
}
.styled-table {
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;  
    width: 70%; 
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 1.5px;
}
table{
    border: solid 1px Orange;
    border-collapse: collapse;
    border-style: double;
    padding: 2px 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
    width: 70%; 
    font-size: 100%;
}
th {
    border: solid 1px Orange;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 120%;
    background-color: #96D4D4;
}
td {
    border: solid 1px Orange;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 1220%;
    background-color: #96D4D4;
}
table.center {
    width: 70%;
    margin-left: auto;
    margin-right: auto;   
    font-size: 18px; 
}
p {
    margin-right: auto;
    margin-left: auto;
    font-size: 160%;
    font-family: courier;
}
body{
    text-align: center;
    background-image: url("global_map_green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    /*background-position: 0% 0%;*/
    /*background-position: center;*/
    background-position: 30px 100px;
    counter-reset: section;
}
.resetbtn{
    background-color: #979A9A;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    text-align:center;
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
    position: absolute;
    top: 350px;
    right: 500px;
}
.container{
    width: 500px;
    margin: 0 auto;
    position: center;
}
@media(max-width: 768px){
    .container{
        width: 100%;
    }

}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-button{
    padding-left: 5px;
    background-color: #979A9A;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    text-align:center;
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
    position: relative;
}
.middle-button{
    padding-left: 5px;
    background-color: #979A9A;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    text-align:center;
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
    position: relative;
}
.right-button{
    padding-right: 5px;
    background-color: #979A9A;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    text-align:center;
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
    position: relative;
}

.container button:first-child{
    background-color: #979A9A;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    text-align:center;
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
    position: relative;
    top: 350px;
    right: 500px;
}
.container button:last-child{
    background-color: #979A9A;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    text-align:center;
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
    position: relative;
    top: 350px;
    right: 500px;
}
.optbtn{
    background-color: #979A9A;
    font-size: 16px;
    margin-right: 70px;
    margin-left: 70px;
    cursor: pointer;
    text-align:center;
    padding: 10px;
    border-radius: 12px;
}
.trbtn{
    background-color: #979A9A;
    font-size: 16px;
    margin; 1px 1px;
    cursor: pointer;
    text-align:center;
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
}
.btnsite {
    background-color: #CCCCFF; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin 4px 4px;
    cursor: pointer;
    border-radius: 50%; 
    margin-right: 8px;
}
.logo {
    position: fixed;
    top: 0;
    left: 0;
}
.resizedTextbox {
    width: 150px;
    height: 20px;
    font-size: 14px;
}
i.srno {
    counter-reset: subsection;
}

i.srno:before {
    counter-increment: section;
    content: counter(section);
}

